@model IEnumerable<DiningRoomWA.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Інгредієнти</h1>

<p>
     @if (User.IsInRole("admin")) {
    <a asp-action="Create">Новий інгредієнт</a>
     }
</p>

@foreach (var item in Model) {
    <form asp-action="Details" asp-route-id="@item.Id">
            <button class="normal">
                @Html.DisplayFor(modelItem => item.Name)
                <div style="float:right; z-index: 1">
                     @if (User.IsInRole("admin")) {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                         <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                     }
                </div>
            </button>
    </form>     
}
