@model IEnumerable<DiningRoomWA.Type>

@{
    ViewData["Title"] = "Index";
}

<h1>Типи</h1>

<p>
     @if (User.IsInRole("admin")) {
    <a asp-action="Create">Новий тип</a>
     }
</p>
@foreach (var item in Model) {
    <form asp-action="Details" asp-route-id="@item.Id">
            <button class="normal">
                @Html.DisplayFor(modelItem => item.Name)
                <div style="float:right; z-index: 1">
                     @if (User.IsInRole("admin")) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                     }
                </div>
            </button>
    </form>     
}

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/ChartType/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Кількості страв кожного типу",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
