@model DiningRoomWA.DishInclude


@{
    ViewData["Title"] = "Додати Інгредієнт до страви";
}

<h1>Додати Інгредієнт до страви</h1>

<h4>@ViewBag.DishName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <select asp-for="IngredientId" class ="form-control" asp-items="ViewBag.IngredientId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Mass" class="control-label"></label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.DishId" name="DishId"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.DishId">Назад до страви @ViewBag.DishName</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
